

 #fondo{
     background-image: url("https://i.imgur.com/3pfQlJM.jpg");
     height: 500px;
 }


#fondoProperty {    
    background: url("https://i.imgur.com/OdpEGTz.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        
  }

 