
#formReg{

     background-image: url("https://i.imgur.com/3tBiOjL.jpg");
     width: 100%;
     background-repeat: no-repeat;
     color: #fff
 }

 .container{
    min-height: calc(100vh - 100px - 120px);
 }


#fondoProperty {    
    background: url("https://i.imgur.com/OdpEGTz.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        
  }

#banner{
    width: 30%;
    height: 100%

  }

  #fondoHome {    
   
    background: url("https://i.imgur.com/xZAPmj7.jpg");
    width:auto;
    height:auto;
    background-repeat: repeat;
    color: #fff
        
  }

  